body {
  background: #333; }

#navBar {
  border-bottom: solid #086BD5 3px; }

#home-section {
  background: url("../img/home.jpg") no-repeat center top;
  background-attachment: fixed;
  background-size: cover;
  height: 900px; }
  #home-section .dark-overlay {
    background: rgba(0, 0, 0, 0.5);
    height: 900px; }
  #home-section .fas {
    color: #086BD5;
    background: #fff; }
  #home-section .home-inner {
    padding-top: 150px; }

@media (max-width: 992px) {
  #home-section {
    height: 1200px;
    background-size: cover; }
    #home-section #home-header-text {
      font-size: 45px; }
    #home-section .dark-overlay {
      height: 1200px; } }

@media (max-width: 576px) {
  #home-header-text {
    font-size: 36px; } }
